.game {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.match-history__game {
    border: solid;
    height: 636px;
    width: 150px;
}

.title__match-history {
    text-align: center;
}