.match-history__game {
    text-align: center;
    border: solid;
    height: 636px;
    width: 150px;
}

.control-buttons__content {
    display: flex;
    flex-direction: column;
}

.button__control-buttons {
    margin: 5px 0 5px 0;
}

.history__match-history {
    list-style: none;
}